*body, html {
    height: 100%;
    margin: 0;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vh; /* Full height of the viewport */
}

.circle-img {
    width: 150px;       /* Adjust size as needed */
    height: 150px;
    border-radius: 50%; /* Makes the image a circle */
    object-fit: cover;  /* Ensures the image is fully contained in the circle */
    border: 2px solid #000; /* Optional: Add a border if you like */
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: -5;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5rem;
    color: #333;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    color: #444;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #888;
}